<!DOCTYPE html>
<html>
<head>
  <title>GoodEats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <center>
    <div class='navbar-fixed-bottom foot'>
      <a href='/restaurants'>Restaurants List</a> | <a href='/restaurants/new'>Add Restaurant</a>
    </div>
  </center>

</body>
</html>
